<!-- <div id="g_id_onload"
     data-client_id="479286425997-2e4fg8k71luvt59fpp5075b0lf4aje9s.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="redirect"
     data-login_uri="http://localhost:4200/home"
     data-nonce=""
     data-callback="handleCredentialResponse"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="signin_with"
     data-size="large"
     data-logo_alignment="left">
</div>


<br />
<br />
<br />
<br />
<br />
<div id="g_id_onload"
     data-client_id="479286425997-2e4fg8k71luvt59fpp5075b0lf4aje9s.apps.googleusercontent.com"
     data-context="use"
     data-ux_mode="popup"
     data-login_uri="hppt://localhost:3000/api/login"
     data-itp_support="true">
</div>

<div class="g_id_signin"
     data-type="standard"
     data-shape="pill"
     data-theme="outline"
     data-text="continue_with"
     data-size="medium"
     data-logo_alignment="center"
     data-width="25px">
</div>

 -->


<app-demo-login></app-demo-login>